<header>
    <a class="hrm-nav-item" href="/hrmHome">HRM</a>
    <a class="hrm-nav-item" href="/hrpage">Leave Applications</a>
    <a class="hrm-nav-item" href="/sortforms">Sort Applications</a>
    <a class="hrm-nav-item" href="/userRequest">User Request</a>
    <a class="hrm-nav-item" href="/users">Users</a>
    <a class="hrm-nav-item" href="/holidays">Holidays</a>
    <a class="hrm-nav-item" href="/leaveAnalysis">Analysis</a>
    <a class="hrm-nav-item" href="/logout">Logout</a>
    <a class = "user-name">{{this.user[0].name}}</a>
</header>