<header appDirectives>
    <a appDirectives class="hrm-nav-item" (click) = "home()" routerLink="#">HRM</a>
    <a class="hrm-nav-item" (click) = "leavePage()" routerLink="#"><sup *ngIf="( pendingCount | async) let leave;">{{leave.length}}</sup><span matBadge="4" matBadgeOverlap="false">Request</span></a>
    <a class="hrm-nav-item" (click) = "sortLeave()" routerLink="#">Sort Applications</a>
    <a class="hrm-nav-item" (click) = "userRequest()" routerLink="#">User Request</a>
    <a class="hrm-nav-item" (click) = "users()" routerLink="#">Users</a>
    <a class="hrm-nav-item" (click) = "holidays()" routerLink="#">Holidays</a>
    <a class="hrm-nav-item" (click) = "leaveAnalysis()" routerLink="#">Analysis</a>
    <a class="hrm-nav-item" routerLink="/logout">Logout</a>
    <a class = "user-name">{{this.user.name}}</a>
</header>