<header>
    <a class="hrm-nav-item" (click) = "home()" routerLink="#">HRM</a>
    <a class="hrm-nav-item" (click) = "leavePage()" routerLink="#">Leave Applications</a>
    <a class="hrm-nav-item" (click) = "sortLeave()" routerLink="#">Sort Applications</a>
    <a class="hrm-nav-item" (click) = "userRequest()" routerLink="#">User Request</a>
    <a class="hrm-nav-item" (click) = "users()" routerLink="#">Users</a>
    <a class="hrm-nav-item" (click) = "holidays()" routerLink="#">Holidays</a>
    <a class="hrm-nav-item" (click) = "leaveAnalysis()" routerLink="#">Analysis</a>
    <a class="hrm-nav-item" routerLink="/logout">Logout</a>
    <a class = "user-name">{{this.user[0].name}}</a>
</header>