<header>
    <nav class="navbar" style="width: 10%">
        <img style="height : 80px; width: 100px;" src="assets/images/logo.jpg" alt="company logo">
        <label style="color:rgb(195,195,195); padding-left:0px;">________________</label>
        <br/>
        <a class="nav-item" routerLink="/home" style="color: rgb(32, 31, 31);"> Home</a>
        <br/>
        <label style="color: rgb(195,195,195);">________________</label>
        <br/>
        <a class="nav-item" routerLink="/applyleave" style="color:rgb(32, 31, 31);"> Apply Leave</a>
        <br/>
        <label style="color: rgb(195,195,195);">________________</label>
        <br/>
        <a class="nav-item" routerLink="/status" style="color:rgb(32, 31, 31);"> Available</a>
        <br/>
        <label style="color: rgb(195,195,195);">________________</label>
        <br/>
        <a class="nav-item" routerLink="/history" style="color:rgb(32, 31, 31);"> History</a>
        <br/>
        <label style="color: rgb(195,195,195);">________________</label>
        <br/>
        <a class="nav-item" routerLink="/upcoming" style="color:rgb(32, 31, 31);"> Upcoming Holidays</a>
        <label style="color: rgb(195,195,195);">________________</label>
        <br/>
    </nav>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="span-group">
        <div class="span-group2">
            &numsp;
            <img style="width : 20px; height:20px; position: relative;" src="assets/images/facebook.png" alt="fb logo"> &numsp;
            <img style="width : 20px; height:20px; position: relative;" src="assets/images/instagram.png" alt="insta logo">&numsp;
            <img style="width : 20px; height:20px; position: relative;" src="assets/images/linkedin.png" alt="linkedin logo">
        </div>
    </div>
    <br/>
</header>