<footer>
    <div class = "style-footer">
        <figure>
            <img src="assets/images/user.png" class="user-logo" alt="User Logo">
        </figure>
        <h2>{{user.name}}</h2>
        <h2>ID : {{user.empId}}</h2>
        <label>______________________</label>
        <h3> Our Products</h3>
        <figure>
            <img style="height : 75px; width: 100px;" src="assets/images/datazap.svg" alt="product logo">
        </figure>
        <figure>
            <img style="height : 75px; width: 100px;" src="assets/images/datazen.svg" alt="product logo">
        </figure>
        <figure>
            <img style="height : 75px; width: 100px;" src="assets/images/datazense.svg" alt="product logo">
        </figure>
        <figure>
            <img style="height : 75px; width: 100px;" src="assets/images/echain.svg" alt="product logo">
        </figure>
    </div>
</footer>