<footer>
    <div class = "style-footer">
        <h2>{{user[0].name}}</h2>
        <h3> Our Products</h3>
        <img style="height : 80px; width: 100px;" src="assets/images/datazap.svg" alt="product logo">
        <img style="height : 80px; width: 100px;" src="assets/images/datazen.svg" alt="product logo">
        <img style="height : 80px; width: 100px;" src="assets/images/datazense.svg" alt="product logo">
        <img style="height : 80px; width: 100px;" src="assets/images/echain.svg" alt="product logo">
        <img style="height : 80px; width: 100px;" src="assets/images/smartbot.svg" alt="product logo">
    </div>
</footer>