<footer>
    <div class = "style-footer">
        <h2>Our Products</h2>
        <img style="height : 80px; width: 100px;" src="assets/images/datazap.svg" alt="product logo">
        <img style="height : 80px; width: 100px;" src="assets/images/datazen.svg" alt="product logo">
        <img style="height : 80px; width: 100px;" src="assets/images/datazense.svg" alt="product logo">
        <img style="height : 80px; width: 100px;" src="assets/images/echain.svg" alt="product logo"><br/>
        <img style="height : 80px; width: 100px;" src="assets/images/smartbot.svg" alt="product logo"><br/>
        <img style="height : 80px; width: 100px;" src="assets/images/smartapp.svg" alt="product logo"><br/>
    </div>
</footer>