<div class="row">
    <div class="col-sm-2">
        <app-header></app-header>
    </div>
    <div class="col-sm-8">
        <div class="status-title">
            <br />
            <h2>
                <strong>
                    <em>Available Count</em>
                </strong>
            </h2>
            <br />
        </div>
        <div class="status-content pre-scrollable1">
            <br />
            <div id="availableLeaves" *ngFor="let counts of forms">
                <div *ngIf="counts.email == this.user.email">
                    <div class="content">
                        Available Leave : {{counts.total}} days
                    </div>
                    <div class="content">
                        Available Sick Leave : {{counts.sickLeave}} days
                    </div>
                    <div class="content">
                        Available Casual Leave : {{counts.casualLeave}} days
                    </div>
                    <div class="content">
                        Available Earned Leave : {{counts.earnedLeave}} days
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <app-footer></app-footer>
    </div>
</div>