<app-hrmheader></app-hrmheader>
<div class = "hr-home">
    <div class = "hr-quote">
        <label>“Failure Will Never Overtake Me If My Determination To Succeed Is Strong Enough. ” -  Og Mandino</label>
        <label>“The Man Who Has Confidence In Himself Gains The Confidence Of Others. ” -  Hasidic </label>
        <label>“Develop An ‘Attitude Of Gratitude’. Say Thank You To Everyone You Meet For Everything They Do For You. ” – Brian Tracy</label>
        <label>“The Only Way To Do Great Work Is To Love What You Do. If You Haven’t Found It Yet, Keep Looking. Don’t Settle. ” – Steve Jobs</label>
    </div>
</div>
