<app-hrmheader></app-hrmheader>
<div class="hrpage-title">
    <h2>Leave Applications</h2>
</div>
<div class="hrpage-content">
    <main>
        <div id="application-forms">
            <input type="radio" checked name="radioButton" (click) = "sortForms('all')" id="all">All Leave Forms &numsp;
            <input type="radio" name="radioButton" (click) = "sortForms('Pending')" id="pending">Pending Forms &numsp;
            <input type="radio" name="radioButton" (click) = "sortForms('Approved')" id="approve">Approved Forms &numsp;
            <input type="radio" name="radioButton" (click) = "sortForms('Declined')" id="decline">Declined Forms &numsp;
            <div *ngFor="let form of searchResults">
                <div class="application-form">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Name : {{form.name}}-{{form.employeeId}}</label><br />
                            <label>Role : {{form.role}} </label><br />
                            <label>From date : {{form.fromDate | date: "dd-MMM-yyyy"}}</label><br />
                        </div>
                        <div class="col-sm-4">
                            <label>To date : {{form.toDate | date: "dd-MMM-yyyy"}}</label><br />
                            <label>Leave Type : {{form.leaveType}}</label><br />
                            <label>Reason : {{form.reason}}</label><br />
                        </div>
                        <div class="col-sm-4" style="text-align: center;">
                            <input type="submit" class="btn1-style" *ngIf="form.status == 'Pending'"
                                (click)="statusUpdate(form,'Approved')"
                                value="Approve"><br />
                            <input type="submit" class="btn2-style" *ngIf="form.status == 'Pending'"
                                (click)="statusUpdate(form,'Declined')"
                                value="Decline">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf = "searchResults.length == 0">
                <label class = "label-style">No Leave forms</label>
            </div>
        </div>
    </main>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>