<app-hrmheader></app-hrmheader>
<div class="hrpage-title">
    <h2>Leave Applications</h2>
</div>
<div class="hrpage-content">
    <main>
        <div id="application-forms">
            <input type="radio" name="radioButton" (click) = "sortForms('all')" id="all">All Leave Forms &numsp;
            <input type="radio" name="radioButton" (click) = "sortForms('Pending')" id="pending">Pending Forms &numsp;
            <input type="radio" name="radioButton" (click) = "sortForms('Approved')" id="approve">Approved Forms &numsp;
            <input type="radio" name="radioButton" (click) = "sortForms('Declined')" id="decline">Declined Forms &numsp;
            <div *ngFor="let form of forms">
                <div class="application-form" *ngIf="form.doc.status == option || option == 'all'">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Name : {{form.doc.name}}-{{form.doc.employeeId}}</label><br />
                            <label>Role : {{form.doc.role}} </label><br />
                            <label>From date : {{form.doc.fromDate}}</label><br />
                        </div>
                        <div class="col-sm-4">
                            <label>To date : {{form.doc.toDate}}</label><br />
                            <label>Leave Type : {{form.doc.leaveType}}</label><br />
                            <label>Reason : {{form.doc.reason}}</label><br />
                        </div>
                        <div class="col-sm-4" style="text-align: center;">
                            <input type="submit" class="btn1-style" *ngIf="form.doc.status == 'Pending'"
                                (click)="statusUpdate(form.doc._id,form.doc._rev,form.doc.id,form.doc.employeeId,form.doc.role,form.doc.fromDate,form.doc.toDate,form.doc.leaveType,form.doc.reason,form.doc.name,'Approved')"
                                value="Approve"><br />
                            <input type="submit" class="btn2-style" *ngIf="form.doc.status == 'Pending'"
                                (click)="statusUpdate(form.doc._id,form.doc._rev,form.doc.id,form.doc.employeeId,form.doc.role,form.doc.fromDate,form.doc.toDate,form.doc.leaveType,form.doc.reason,form.doc.name,'Declined')"
                                value="Decline">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf = "forms.length == 0">
                <label>No Leave forms</label>
            </div>
        </div>
    </main>
</div>