<div class="row">
    <div class="col-sm-2">
        <app-header></app-header>
    </div>
    <div class="col-sm-8">
        <div class="upcoming-title">
            <br/>
            <h2>Upcoming Holidays</h2>
            <br/>
        </div>
        <div class = "upcoming-content">
            <form (ngSubmit) = "currentMonth()">
                <select class = "select-style" id="month">
                    <option value="01">JAN</option>
                    <option value="02">FEB</option>
                    <option value="03">MAR</option>
                    <option value="04">APR</option>
                    <option value="05">MAY</option>
                    <option value="06">JUN</option>
                    <option value="07">JUL</option>
                    <option value="08">AUG</option>
                    <option value="09">SEP</option>
                    <option value="10">OCT</option>
                    <option value="11">NOV</option>
                    <option value="12">DEC</option>
                </select>
                <input class = "btnn-style" type="submit" value="Filter" >
            </form>
        </div>
    </div>
    <div class = "col-sm-2">
        <app-footer></app-footer>
    </div>
</div>
