<div class="row">
    <div class="col-sm-2" *ngIf="user.role != 'hr'">
        <app-header></app-header>
    </div>
    <div class="col-sm-8" *ngIf="user.role != 'hr'">
        <div class="upcoming-title">
            <br />
            <h2>Upcoming Holidays</h2>
            <br />
        </div>
        <div class="upcoming-content">
            <select class="select-style" [(ngModel)]="month">
                <option value="">--select--</option>
                <option value="01">JAN</option>
                <option value="02">FEB</option>
                <option value="03">MAR</option>
                <option value="04">APR</option>
                <option value="05">MAY</option>
                <option value="06">JUN</option>
                <option value="07">JUL</option>
                <option value="08">AUG</option>
                <option value="09">SEP</option>
                <option value="10">OCT</option>
                <option value="11">NOV</option>
                <option value="12">DEC</option>
            </select>
            <table aria-describedby="mydesc">
                <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">DAY</th>
                    <th scope="col">DESCRIPTION</th>
                    
                </tr>
                <tbody *ngFor="let leave of holidayList">
                    <tr *ngIf="this.month == leave.date.split('-')[1]">
                        <td>{{leave.date | date: "dd-MMM-YYYY"}}</td>
                        <td>{{leave.day}}</td>
                        <td>{{leave.status}}</td>
                    </tr>
                </tbody>
                <tbody *ngFor="let leave of holidayList">
                    <tr *ngIf="this.month == null || this.month == ''">
                        <td>{{leave.date | date: "dd-MMM-YYYY"}}</td>
                        <td>{{leave.day}}</td>
                        <td>{{leave.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-2" *ngIf="user.role != 'hr'">
        <app-footer></app-footer>
    </div>
    <div class="upcoming-content" *ngIf="user.role == 'hr'"> 
        <select class="select-style" [(ngModel)]="month">
            <option value="">--select--</option>
            <option value="01">JAN</option>
            <option value="02">FEB</option>
            <option value="03">MAR</option>
            <option value="04">APR</option>
            <option value="05">MAY</option>
            <option value="06">JUN</option>
            <option value="07">JUL</option>
            <option value="08">AUG</option>
            <option value="09">SEP</option>
            <option value="10">OCT</option>
            <option value="11">NOV</option>
            <option value="12">DEC</option>
        </select>
        <table aria-describedby="mydesc">
            <tr>
                <th scope="col">DATE</th>
                <th scope="col">DAY</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">OPTION</th>
            </tr>
            <tbody *ngFor="let leave of holidayList">
                <tr *ngIf="this.month == leave.date.split('-')[1]">
                    <td>{{leave.date | date: "dd-MMM-yyyy"}}</td>
                    <td>{{leave.day}}</td>
                    <td>{{leave.status}}</td>
                    <td><button (click) = "viewPopUp(leave.date, leave.status)">Edit</button></td>
                </tr>
            </tbody>
            <tbody *ngFor="let leave of holidayList">
                <tr *ngIf="this.month == null || this.month == ''">
                    <td>{{leave.date | date: "dd-MMM-YYYY"}}</td>
                    <td>{{leave.day}}</td>
                    <td>{{leave.status}}</td>
                    <td><button (click) = "viewPopUp(leave.date, leave.status)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>