<app-userpage>
        <div class="title-box">
            <br />
            <h2>History</h2>
            <br />
        </div>
        <div class="history-table pre-scrollable1">
            <table aria-describedby="mydesc">
                <tr>
                    <th scope="col">###</th>
                    <th scope="col">FromDate</th>
                    <th scope="col">To Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Options</th>
                </tr>
                <tbody id="history-details" *ngFor="let history of leaveHistory">
                    <tr *ngIf="history.employeeId  == this.empId">
                        <td>{{history.employeeId}}</td>
                        <td>{{history.fromDate | date: "dd-MMM-yyyy"}}</td>
                        <td>{{history.toDate | date: "dd-MMM-yyyy"}}</td>
                        <td>{{history.leaveType}}</td>
                        <td>{{history.reason}}</td>
                        <td><span class = "status-style" [style.background-color]="getStyle(history.status)">{{history.status}}</span></td>
                        <td>{{history.remarks}}</td>
                        <td *ngIf = "history.status == 'Pending'"><a href="#" (click)="leaveform(history._id,history._rev)">Cancel</a></td>
                        <td *ngIf = "history.status != 'Pending'"><a href="#" (click)="downloadForm(history._id)">Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
</app-userpage>