<div class="div">
    <div class="div1">
            <h1>
                <em>LMS - APP</em>
            </h1>
        <div class="row">
            <div class="col-sm-12 content">
                <h2>Sign In..</h2>
                <form [formGroup]="loginForm"  (ngSubmit)="login()">
                    <label for="username">Username</label>
                    <input formControlName="username" name = "loginForm" type="text" class="box-style" required>
                    <label for="password">Password</label>
                    <input formControlName="password" name = "loginForm" type="password" class="box-style" required>
                    <label>User Role</label>
                    <select class="box-style" formControlName="role" name = "loginForm" required>
                        <option value="">--select--</option>
                        <option value="Employee">Employee</option>
                        <option value="HR">HR</option>
                    </select>
                    <div style="padding-left : 70px;">
                        <input type="submit" class="btn btn-style">
                    </div>
                    <br />
                    <a routerLink="/register" style="padding-left : 35px;">New User - Register here!</a>
                </form>
            </div>
        </div>
    </div>
</div>
