<app-hrmheader></app-hrmheader>
<h3>Employee List</h3>
<div>
    <input name="search" id="search" class = "search-box" placeholder="Ex. ui/ux" type="text" [(ngModel)] = "sort" >
    <table aria-describedby="mydesc">
        <thead>
            <tr>
                <th scope="col">EmployeeID</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">mobile Number</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of (users | searchterm : sort);">
            <tr>
                <td>{{user.doc.empId}}</td>
                <td>{{user.doc.name}}</td>
                <td>{{user.doc.role}}</td>
                <td>{{user.doc.mobileNumber}}</td>
                <td>{{user.doc.email}}</td>
                <td><input type = "submit" value="delete"  (click)="deleteOneUser(user.doc._id,user.doc._rev)"></td>
            </tr>
        </tbody>
    </table>
</div>