<app-hrmheader></app-hrmheader>
<div class = "useraccess-content">
    <div class = "row">
        <div *ngFor = "let request of this.requests">
            <div class = "col-sm-4 useraccess-forms" style="width: 100%;" *ngIf = "request.status == 'Waiting'">
                <label>Name : {{request.name}}</label>
                <label>Employee ID : {{request.empId}}</label>
                <label>Team : {{request.role}}</label>
                <label>Email ID : {{request.email}}</label>
                <input type="submit" class = "accept-btn _btn" (click) = "acceptanceStatus(request,'Accepted')" value="Accept">
                <input type="submit" class = "reject-btn _btn" (click) = "acceptanceStatus(request,'Declined')" value="Decline">
            </div>
        </div>
        <div *ngIf = "requests.length == 0">
            <label>No Requests found</label>
        </div>
    </div>
</div>
