<div class="status-content pre-scrollable1">
    <br />
    <div id="availableLeaves" *ngFor="let counts of forms">
        <div *ngIf="counts.doc.email == this.user[0].email">
            <div class="content">
                Available Sick Leave : {{counts.doc.sickLeave}} days
            </div>
            <div class="content">
                Available Casual Leave : {{counts.doc.casualLeave}} days
            </div>
            <div class="content">
                Available Earned Leave : {{counts.doc.earnedLeave}} days
            </div>
        </div>
    </div>
</div>
