<div>
    <div class="row">
        <div class="col-sm-2">
            <app-header></app-header>
        </div>
        <div class="col-sm-8">
            <div class="company-title">
                <h2>Chain-Sys Corporation</h2>
            </div>
            <div class="home-content pre-scrollable1">
                <iframe width="750" height="415" src="https://www.youtube.com/embed/PfjbDoEt6Os"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-2">
            <app-footer></app-footer>
        </div>
    </div>
</div>