<div class="div-register">
    <div class="div1">
        <div class="row">
            <div class = "col-sm-1"></div>
            <div class="col-sm-11">
                <div class="text-center">
                    <h2>
                        <em>User Registration</em>
                    </h2>
                </div>
                <br/>
                <form (ngSubmit)="register()">
                    <div class="span-group">
                        <div class="span-group2">
                            <span class="span-group3">
                                <img style="width : 40px; height:40px; position: relative;" src="assets/images/user.png" alt="user logo"> </span>
                        </div>
                        <input class="box1-style" [(ngModel)]="name" name="registrationForm" placeholder="Full name" type="text" required>
                    </div>
                    <br/>
                    <div class="span-group">
                        <div class="span-group2">
                            <span class="span-group3">
                                <img style="width : 40px; height:40px; position: relative;" src="assets/images/badge.png" alt="empId logo"> </span>
                        </div>
                        <input class="box1-style" [(ngModel)]="empId" name="registrationForm" placeholder="Employee ID" type="text" required>
                    </div>
                    <br/>
                    <div class="span-group">
                        <div class="span-group2">
                            <span class="span-group3">
                                <img style="width : 40px; height:40px; position: relative;" src="assets/images/group.png" alt="team logo"> </span>
                        </div>
                        <!-- <input class="box1-style" id="teamName" class="form-control" placeholder="Team Name" type="text"> -->
                        <select [(ngModel)] = "role" style="height: 45px; width: 256px;" name="registrationForm" class="box1-style" required>
                            <option value="">--select--</option>
                            <option value="employee">Employee</option>
                            <option value="hr">HR</option>
                        </select>
                    </div>
                    <br/>
                    <div class="span-group">
                        <div class="span-group2">
                            <span class="span-group3">
                                <img style="width : 40px; height:40px; position: relative;" src="assets/images/smartphone.png" alt="smart phone logo"> </span>
                        </div>
                        <input class="box1-style" [(ngModel)]="mobileNumber" name="registrationForm" placeholder="Mobile Number" type="text" required>
                    </div>
                    <br/>
                    <div class="span-group">
                        <div class="span-group2">
                            <span class="span-group3">
                                <img style="width : 40px; height:40px; position: relative;" src="assets/images/envelope.png" alt="email logo"> </span>
                        </div>
                        <input class="box1-style" [(ngModel)]="emailAddress" name="registrationForm" placeholder="Email Address" type="text" required>
                    </div>
                    <br/>
                    <div class="span-group">
                        <div class="span-group2">
                            <span class="span-group3">
                                <img style="width : 40px; height:40px; position: relative;" src="assets/images/padlock.png" alt="password logo"> </span>
                        </div>
                        <input class="box1-style" [(ngModel)]="password" name="registrationForm" placeholder="Password" type="password" required>
                    </div>
                    <br/>
                    <div style="padding-left : 50px;">
                        <input type="submit" class="btn-style" style="font-size : 16px" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
