<div class="div-register">
    <div class="div1">
        <div class="row">
            <div class = "col-sm-1"></div>
            <div class="col-sm-11">
                <div class="text-center">
                    <h2>
                        <em>User Registration</em>
                    </h2>
                </div>         
                <form (ngSubmit)="register()">
                    <div class="span-group">    
                        <img class="img-size" src="assets/images/user.png" alt="user logo"> 
                        <input class="box1-style" [(ngModel)]="name" name="registrationForm" placeholder="Full name" type="text" required>
                    </div>
                    
                    <div class="span-group">
                        <img class="img-size" src="assets/images/badge.png" alt="empId logo">
                        <input class="box1-style" [(ngModel)]="empId" name="registrationForm" placeholder="Employee ID" type="text" required>
                    </div>
                    
                    <div class="span-group">
                        <img class="img-size" src="assets/images/group.png" alt="team logo">
                        <select [(ngModel)] = "role" name="registrationForm" class="box1-style" required>
                            <option value="">--select--</option>
                            <option value="UI/UX">UI/UX</option>    
                            <option value="Backend Dev">Backend Development</option>
                            <option value="FullStack Dev">FullStack Development</option>
                            <option value="Data Administration">Data Administration</option>
                            <option value="Admin">Admin Team</option>
                            <option value="hr">HRM</option>
                        </select>
                    </div>
                    <div class="span-group">
                        <img class="img-size" src="assets/images/smartphone.png" alt="smart phone logo">
                        <input class="box1-style" [(ngModel)]="mobileNumber" name="registrationForm" placeholder="Mobile Number" type="text" required>
                    </div>
                    
                    <div class="span-group">
                        <img class="img-size" src="assets/images/envelope.png" alt="email logo">
                        <input class="box1-style" [(ngModel)]="emailAddress" name="registrationForm" placeholder="Email Address" type="email" required>
                    </div>
                    
                    <div class="span-group">
                        <img class="img-size" src="assets/images/padlock.png" alt="password logo">
                        <input class="box1-style" [(ngModel)]="password" name="registrationForm" placeholder="Password" type="password" required>
                    </div>
                    
                    <div style="padding-left : 50px;">
                        <input type="submit" class="btn-style" style="font-size : 16px" value="Register">
                        <a routerLink="/login">LOGIN</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
